
.logoutbutton {
  margin-top: 8px;
  position: relative;
  display: inline-block;
}
.mydropdown {
  position: relative;
  display: inline-block;
}

.dropbutton {
  background-color:rgba(8, 8, 8, 0.034);
  color: rgba(255, 255, 255, 0.486);
  padding: 14px;
  font-size: 15px;
  border: none;

}.dropdown-list {
  display: none;
  position: absolute;
  background-color:gray;
  min-width: 160px;
  box-shadow: 0px 12px 16px 0px rgba(7, 2, 2, 0.534);
  z-index: 1;
}
.dropdown-list a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color:white;
}


.mydropdown:hover .dropdown-list {display: block;}
.mydropdown:hover .dropbutton {background-color:rgba(8, 8, 8, 0.034); color: white;}
.dropdown-list a:hover {background-color:rgba(0, 0, 0, 0.527) }
