
<h1 style="margin-left: 40%; color:yellow">Login</h1>
<br><br>
<div class="content">
<div class="row" #content>
<form (ngSubmit)="onLogin(form)" #form=ngForm>
  <div class="row">
      <div class="form-group">
          <div class="col-md-2 col-md-offset-2">
              <label for="email">Email:</label>
          </div>
        <div class="col-md-4">
            <input type="email" name="email" class="form-control"  required email ngModel #emailinput="ngModel">
            <p *ngIf="emailinput.invalid && emailinput.touched">please enter valid email !</p>
        </div>
  </div>
  </div>


<br>
  <div class="row">
      <div class="form-group">
          <div class="col-md-2 col-md-offset-2">
              <label for="password">Password:</label>
          </div>
        <div class="col-md-4">
            <input type="text" name="password" class="form-control"  ngModel required #passwordinput="ngModel">
            <p *ngIf="passwordinput.invalid && passwordinput.touched">Please enter password !</p>
        </div>
  </div>
  </div>
<br>

  <div class="row">
      <div class="form-group">
          <div class="col-md-2 col-md-offset-5">
           <button type = "submit" [disabled]=!form.valid class="btn btn-success" *ngIf="!isLoading">Login</button><br><br>
           <h5>Not Yet signed Up ?</h5><u><a [routerLink]="['/signup']" routerLinkActive="router-link-active" ><div style="color:rgb(8, 99, 8)">Signup</div></a>
           </u>
           <br><br>  <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>

  </div>
  </div>
  </form>

</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
