.container{
  height:700px;
  width: 1000px;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.createcss{
  background-color: aqua;
}
.createresponse{
  color:firebrick;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
   margin-left: 20%;
}

